@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables

$blue: hsl(246, 80%, 60%);

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

// Mixins

@mixin flex-align($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin absolute-top($offset: 0){
    position: absolute;
    top: $offset;
    left:0;
    width:100%;
}

// Animations

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    font-size: 112.5%;
}

body {
    @include flex-align(center, center);
    min-height: 100vh;
    min-width: 100vw;
    background-color: $very-dark-blue;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    overflow-x : hidden;
    padding:1em;
}

.attribution{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;

    &__name,&__challenge{
        span{
            color:$pale-blue;
        }
    }
}

$gap: 1em;
.time-tracker{
    display:flex;
    width:100%;
    height:100%;
    gap: $gap;
}

$padding: 1.5em;
$radius: 1em;
.selector {
    background-color: $dark-blue;
    border-radius: $radius;
    font-size: 0.8rem;

    &__options {
        width: 100%;
        height:30%;
        @include flex-align(flex-start, space-between);
        flex-direction: column;
    }

    &__option {
        color: $desaturated-blue;
        cursor: pointer;

        &:hover {
            color: white;
        }

        &.active{
            color: white;
        }
    }
}

.profile {
    background-color: $blue;
    border-radius: $radius;
    color: white;
    height:70%;
    &__img {
        width: 100%;
        height: 100%;
        max-width: 60px;
        max-height: 60px;
        border-radius: 50%;
        border: 2px solid white;
        margin-bottom: 2em;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        font-size: 0.7rem;
        color: $pale-blue;
    }

    &__name {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0.5em;
        letter-spacing: 0.05em;
        word-wrap: break-word;
    }
}

.selector__options,
.profile,
.card__content,
.card__img{
    padding: $padding;
}

.cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width:100%;
    gap: $gap;
    place-items: center;
}

.card{
    border-radius: $radius;
    color:white;
    position:relative;
    height:200px;
    width:200px;

    &__title{
        font-size: .8rem;
        font-weight: 400;
    }

    &__options{
        max-width:20px;
        cursor:pointer;
        transition: all 0.2s ease-in-out;

        &:hover{
            filter: brightness(200%);
        }
    }

    &__content{
        @include flex-align(flex-start,space-between);
        @include absolute-top(20%);
        border-radius: $radius;
        background-color: $dark-blue;
        height:80%;
        flex-direction: column;

        &:hover{
            background-color: $desaturated-blue;
        }
    
    }

    &__img{
        @include absolute-top();
        border-radius: $radius;
        padding-top: 0;
        text-align: right;
        overflow:hidden;
        height: 50%;

        img{
            margin-top: -10px;
            transition: transform .5s ease-in-out;
        }

                
        &:hover img{
            transform: rotate(359deg);
        }
    }

    &__hours{
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 0.5em;
    }

    &__text{
        color:$pale-blue;
        font-size: .8rem;
    }
}

.top{
    @include flex-align(center,space-between);
    width:100%;
}

.appear{
    opacity:0;
    animation: appear .5s ease-in-out forwards;
}


@media only screen and (max-width:820px){
    html{
        font-size: 100%;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .profile,.selector__options{
        height:50%;
    }

    .selector{
        max-height:500px;

        &__options{
            justify-content: center;
        }

        &__option{
            margin-bottom:1em;
        }
    }
}

@media only screen and (max-width:580px){

    .attribution{
        display:none;
    }

    html{
        font-size: 90%;
    }

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .profile{
        padding:2.6em;

        &__img{
            float:left;
            margin-bottom:0;
            margin-right:1em;
        }
    }

    .card{
        width:100%;
        height: 120px;

        &__hours{
            margin-bottom:0;
        }

        &__content{
            justify-content: flex-start;
        }
    }

    .bottom{
        @include flex-align(center,space-between);
        flex-wrap:wrap;
        width:100%;
    }

    #container{
        width:100%;
        max-width: 400px;
    }

    .time-tracker{
        flex-direction: column;
        width:100%;
    }

    .selector{
        &__options{
            flex-direction:row;
            justify-content: space-around;
            font-size: 1.5rem;
        }

        &__option{
            margin-bottom:0;
        }
    }
}

@media only screen and (max-width: 280px){
    html{
        font-size: 85%;
    }

    .profile{
        @include flex-align(center,center);
        flex-direction: column;
        text-align: center;
    }

    .selector{
        &__options{
            font-size: 1rem;
            flex-wrap:wrap;
        }

        &__option{
            margin-bottom:0.5em;
        }
    }

    .top,.bottom{
        flex-direction: column;
        gap: 0.5em;
    }

    .card{
        height: 150px;
    }
}
